body {
    background-color: #F5EEDC;
}

.App {
  text-align: center;
}

/* Form */

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.city-field {
    width: 250px;
    height: 30px;
    font-size: 20px;
}

#city-error {
    margin: 0 0;
    visibility: hidden;
    color: #DD4A48;
}

/* TempToggler */

.temptoggler button {
    margin: 10px 10px;
    width: 37px;
    height: 37px;
    font-size: 22px;
    background: #ECB390;
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 20%;
    cursor: pointer;
    transition: filter 0.3s; 
}

.temptoggler button:hover {
    float: right;
    filter: brightness(90%);
}

/* Weather */

.forecast-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-info {
    width: 300px;
    height: 400px;
    background-color: #C0D8C0;
    margin: 10px 10px;
    border-radius: 8%;
}

/* Media Queries */

@media only screen and (max-width: 600px) {
    .forecast-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}